meter {
  appearance: auto;
  box-sizing: border-box;
  line-height: normal;
  border: none;
  margin: 0px;
  display: block;

  width: 100%;
  height: 80px;
}

.cam {
  width: calc((100vh - 96px) / 3);
  overflow: hidden;
}

.gameBox {
  height: calc(100% - 256px);
}
