  .position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .ranking-container {
    display: flex;
    flex-direction: column; /* 자식 요소들을 수직 방향으로 나열 */
    align-items: center; /* 중앙 정렬 */
    justify-content: start; /* 상단에서부터 시작 */
  }
  