<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h2>UH</h2>
    <a href="/member/join">회원가입</a> <br>
    <a href="/member/login">로그인</a> <br>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=4fffa78521feee5e1eb947c704c08cf2&redirect_uri=http://localhost:8081/lobby&response_type=code">카카오톡으로 로그인</a>
    <br>
<!--    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=ijkv4FXrCAhLJ9j9Y1FL&state=test&redirect_uri=http://localhost:8081/lobby">네이버로 로그인</a>-->
    <a href="/member/login/naver">네이버로 로그인</a>
    <a href=""></a>
</body>
</html>