@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixel";
  src: url(./font/DungGeunMo.woff);
}

body {
  /* background-image: url("../public/image/background.png"); */
  background-image: url("../public/image/b2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "pixel";
}
