@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixel";
  src: url(./asset/font/DungGeunMo.woff);
}

@font-face {
  font-family: "round";
  src: url(./asset/font/NPSfont_regular.woff);
}

@font-face {
  font-family: "round-bold";
  src: url(./asset/font/NPSfont_bold.woff);
}

@font-face {
  font-family: "TAEBAEK";
  src: url(./asset/font/TAEBAEK_font.otf);
}
@font-face {
  font-family: "Beatster";
  src: url(./asset/font/Beatster-Font.otf);
}
@font-face {
  font-family: "round-extrabold";
  src: url(./asset/font/NPSfont_extrabold.woff);

}

body {
  background-image: url("./asset/image/BG.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "round";
}

.container-box {
  width: 1280px;
  height: 580px;
  margin: auto;
}

.game-container {
  position: fixed;
  top: 20px;
  left: calc(50vw - 640px);
  width: 1280px;
  height: 640px;
  margin: auto;
}

:root {
  --font-bold: "round-bold";
}

:root {
  --font-extrabold: "round-extrabold";
}

/* 스크롤바 디자인 */
::-webkit-scrollbar {
  width: 10px;
  /* height: 20px; */
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
